@charset "UTF-8";

header {
	display: flex;
    justify-content: space-between;
    margin: 30px 0 100px 0;
    padding: 10px;
    border-bottom: 1px solid gray;
}
header img {
    width: 200px;
}

.main_menu {
    display: flex;
    align-items: flex-end;
}

.main_menu li {
    padding: 10px;
}

.main_menu li:hover {
    background-color: rgb(228, 225, 225);
    border-radius: 10px;
}

.main_menu li:hover a {
    color: #fff;
}


#nav {
	padding: 10px;
	text-align: right;
}

#nav ul li {
	display: inline-block;
	margin-left: 10px;
}

#container {
	padding: 20px 0;
	border-top: 2px solid #eee;
	border-bottom: 2px solid #eee;
}

#container::after {
	content: "";
	display: block;
	clear: both;
}

aside {
	float: left;
	width: 200px;
}

#container_box {
	float: right;
	width: calc(100% - 200px - 20px);
}

aside ul li {
	text-align: center;
	margin-bottom: 10px;
}

aside ul li a {
	display: block;
	width: 100%;
	padding: 10px 0;
}

aside ul li a:hover {
	background: #eee;
}

.inputArea {
	margin: 10px 0;
}

label {
	display: inline-block;
	width: 90px;
	padding: 5px;
}

label[for='productDesc'] {
	display: block;
}

input {
	width: 150px;
}

#productDesc {
	width: 400px;
	height: 180px;
}

#container_box table td {
	width: 100px;
}

footer {
	margin-top: 200px;
	position: relative;
}

footer>.line {
	position: absolute;
	left: 0;
	top: 50px;
	background-color: #ccc;
	display: block;
	width: 1200px;
	height: 1px;
	margin: 0 auto;
}

footer>.line:nth-child(1) {
	top: 0;
}

footer>.inner {
	width: 1000px;
	margin: 0 auto;
}

footer>.inner .noticeBox {
	padding: 15px 0 10px 0;
	position: relative;
	overflow: hidden;
}

footer>.inner .noticeBox .notice {
	color: #ccc;
}

footer>.inner .noticeBox ul {
	position: absolute;
	left: 0;
	top: 3px;
	margin-left: 100px;
}

footer>.inner .noticeBox ul li {
	line-height: 3;
}

.copyrightBox {
	margin-top: 10px;
}

.copyrightBox .copyList>li {
	float: left;
}

.copyrightBox .copyList>li>a {
	padding: 5px 20px;
}

.copyrightBox .snsList {
	position: absolute;
	right: 0;
	top: 0;
	margin-top: 55px;
}

.copyrightBox .snsList>li {
	color: #fff;
	float: left;
	margin-right: 20px;
	font-size: 30px;
}

.copyrightBox .copyright {
	margin: 20px 0 20px 0;
}

.copyrightBox .copyright li {
	line-height: 1.5;
	font-size: 14px;
	color: #ccc;
}