<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.dd.mapper.DiaryMapper">

	<!-- 사용자의 다이어리 모든 일정 검색 -->
	<select id="selectAll" resultType="Diary">
	
	SELECT ${COL_DNO}, ${COL_USERID}, ${COL_DNAME}, TO_CHAR(${COL_START_DATE}, 'YYYY-MM-DD') AS ${COL_START_DATE}, TO_CHAR(${COL_END_DATE}, 'YYYY-MM-DD') AS ${COL_END_DATE} 
	FROM ${TABLE_DIARY}
	WHERE ${COL_USERID} = #{userid}	
	ORDER BY ${COL_DNO}
	
	<!--    
	SELECT ${COL_DNO}, ${COL_USERID}, ${COL_DNAME}, TO_CHAR(${COL_START_DATE}, 'YYYY-MM-DD') AS ${COL_START_DATE}, TO_CHAR(${COL_END_DATE}, 'YYYY-MM-DD') AS ${COL_END_DATE} 
	FROM ${TABLE_DIARY}
	WHERE ${COL_USERID} = #{userid}
	ORDER BY ${COL_DNO}
	-->
	</select>

	<!-- 일정 번호로 검색 -->
	<select id="selectByDno" resultType="Diary">
	<!--   SELECT ${COL_DNO}, ${COL_USERID}, ${COL_DNAME}, TO_CHAR(${COL_START_DATE}, 'YYYY-MM-DD') AS ${COL_START_DATE}, TO_CHAR(${COL_END_DATE}, 'YYYY-MM-DD') AS ${COL_END_DATE} FROM ${TABLE_DIARY}
	WHERE ${COL_DNO} = #{dno} and ${COL_USERID} = #{userid}
	ORDER BY ${COL_DNO} -->
	</select>
	
	<!-- 일정 시작일로 검색 
	<select id="selectByStartDate" resultType="Diary">
	SELECT ${COL_DNO}, ${COL_USERID}, ${COL_DNAME}, TO_CHAR(${COL_START_DATE}, 'YYYY/MM/DD') AS ${COL_START_DATE}, TO_CHAR(${COL_END_DATE}, 'YYYY/MM/DD') AS ${COL_END_DATE} FROM ${TABLE_DIARY}
	WHERE TO_CHAR(${COL_START_DATE}, 'YYYY/MM/DD') = #{start_date}
	ORDER BY ${COL_DNO}
	</select> -->
	
	<!-- 새 일정 등록 -->
	<insert id="create">
	INSERT INTO ${TABLE_DIARY} (${COL_USERID}, ${COL_DNAME}, ${COL_START_DATE}, ${COL_END_DATE})
	VALUES (#{userid}, #{dname}, #{start_date}, #{end_date})	
	</insert>
	
	<!-- 일정 수정 -->
	<update id="update">
	UPDATE ${TABLE_DIARY}
	SET ${COL_DNAME} = #{dname}, ${COL_START_DATE} = #{start_date}, ${COL_END_DATE} = #{end_date}
	WHERE ${COL_DNO} = #{dno}
	</update>
	
	<!-- 일정 삭제 -->
	<delete id="delete">
	DELETE FROM ${TABLE_DIARY}
	WHERE ${COL_DNO} = #{dno}
	</delete>
	
	<!-- 일정 검색 -->
	<!-- 여유 되면 구현 -->
</mapper>