@charset "utf-8";

.content_list img {
	width: 800px;
    margin: auto;
    display: block;
}


.content_list span {
    line-height: 50px;
    margin-top: 20px;
    margin-left: 105px;
    display: block;
    font-weight: bold;
    display: block;
    font-size: 19px;
    margin-bottom: 0;
}

.bg_select {
	text-align: right;
	margin-right: 100px;
}

.bg_select button {
	margin-top: 15px;
	padding: 8px;
	font-size: 20px;
	border-radius: 10px;
	background-color: #eee;
	border: none;
}

.userId {
	padding: 10px;
	border-radius: 10px;
	width: 150px;
	height: 130px;
	border: 1px solid #ccc;
	position: absolute;
	top: 15%;
	right: -100px;
}

.userId p {
	margin-left: 10px;
	padding: 8px;
	margin-top: 0;
}

.userId_text:hover {
	background-color: rgb(228, 225, 225);
    border-radius: 10px;
    color: #fff;
}

.addCart_btn {
	background-color: #fff;
	border: none;
	margin-top: 10px;
	font-size: 22px;
}

.addCart_btn:hover {
	cursor: pointer;
}

