@charset "utf-8";

.song {
    color: gray;
    position: absolute;
    top: 210px;
}

#slider {
	margin-left: 0px;
	width: 236px;
    height: 350x; position: relative;
    overflow: hidden;
    margin-top: 5px;
}

.main_content {
	display: flex;
}

.left_img ul {
	display: flex;
	flex-wrap: wrap;
	width: 550px;
	margin-left: 110px;
}


.main_img {
	width: 170px;
	height: 170px;
	margin: 0;
}

#line {
	margin-top:50px;
	border-top: 1px solid gray;
}

.slide {
    width: 900px;
    position: absolute;
    left: 0;
    top: 0;
}

.slide li {
    float: left;
    width: 236px;
    height: 310px;
    position: relative;
}

.slide li span {
    position: absolute;
    left: 0;
    top: 70%;
    font-size: 100px;
}

.slide li img {
    width: 236px;
    height: 350px;
}

.content_menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.more {
    font-size: 13px;
    padding-bottom: 7px;
    margin-right: 100px;
}


#main{
    margin-top: 50px;
    height: 500px;
}
#main .inner{
    width: 1000px; margin: 0 auto;
}


.con1, .con2 {
	margin-left: 110px;
}

.hotList {
	margin-bottom: 0px;
}

.con1_title, .con2_title {
    color: gray; margin: 0 5px 10px 5px;
    font-size: 20px;
}

.hotList, .originalList {
	display: flex;
}

.hotList li, .originalList li{	
    width: 250px; 
    margin-right: 20px; position: relative;
}
.hotList li:nth-child(1), .originalList:nth-child(1){
    margin-left: 5px;
}
.hotList li:nth-child(5), .originalList:nth-child(5){
    margin-right: 5px;
}
.hotList li img, .originalList li img{
    width: 230px; 
    height: 200px;
}

.imgbox {
	width: 250px;
}

.minititle a p {
	color: black;
}

.minititle a img {
	transition: .5s;
}

.hotList li span h4, .originalList li h4{
	font-size: 17px;
	margin-top: 5px;
	margin-bottom: 3px;

	}

.hotList li span, .originalList li span{
    display: block; 
    width: 100%; height: 80px;
    margin-top: 0;
}

.hotList li span a, .originalList li a {
	color: black;
}


#main .inner .con2{
    margin-top: 0; 
}

.con2_title{
	margin-top: 5px;
}


.con2 .originalList li:nth-child(5) span{
    overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
}

.left_img ul li {
	position: relative;
}
.hotList li span a .songtitle, .originalList li span a .songtitle {
	padding: 0 5px;
	border-radius: 10px;
	border: 1px solid lightgreen;
	display:inline-block;
	color: lightgreen;
	margin: 0 5px 0 0;
	font-size: 13px;
}
.minititle p {
	display: inline-block;
}

.minititle {
	overflow: hidden;
	margin: 5px;
}

.minititle span {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #333;
	color: #ccc;
	width: 170px;
	padding: 5px 0;
	text-align: center;
}

#main .inner .minititle:hover {
	text-decoration: underline;
}

#main .inner .minititle:hover p {
	text-decoration: underline;
}
.userId {
	padding: 10px;
	border-radius: 10px;
	width: 150px;
	height: 130px;
	border: 1px solid #ccc;
	position: absolute;
	top: 13%;
	right: -100px;
}

.userId p {
	margin-left: 10px;
	padding: 8px;
	margin-top: 0;
}

.userId_text:nth-child(1) {
	color: black;
}

.userId_text:hover {
	background-color: rgb(228, 225, 225);
    border-radius: 10px;
    color: #fff;
}

.originalList h4:hover {
	text-decoration: underline;
}

#search_box {
	border-radius: 10px;
	padding: 10px;
	border: 1px solid #ccc;
} 

.ranking {
	line-height: 20px;
	font-size: 18px;
}

.ranking div:nth-child(1) {
	margin-top: 10px;
}

.ranking div a {
	color: black;
}

.ranking:nth-of-type(1) tr:nth-child(1) td, .ranking:nth-of-type(1) tr:nth-child(2) td {
	color:lightgreen;
}

.ranking td:nth-child(1):hover {
	line-height: 50px;	
	width: 300px;
	font-size: 22px;
}
.search {
	position: absolute;
	top: 48%;
	width: 350px;
	right: -300px;
}

.ranking img {
	width:50px;
	display: none;
}

.ranking td:hover .ranking_img {
	display: inline-block;
	
}


#modal .modal-window {
	background: #fff;
	border: 0.5px solid black;
	width: 500px;
	height: 370px;
	position: absolute;
	top: 200px;
	left: -100px;
	padding: 10px;
}

#modal .close-area {
	margin-top: 7px;
	display: inline;
	float: right;
	padding: 2px 5px;
	cursor: pointer;
	border: 1px solid black;
}
        
#modal .content {
	
	
}






